* {
	transition: none;
	opacity: 1.0;
	border-radius: 0;
	padding: 0px;
	margin: 0px;
	min-width: 0px;
}

@define-color orange	#ba9262;
@define-color green	#94ac64;
@define-color blue	#ba6584;

@define-color warning	#cc0000;
@define-color warning_border	#ff0000;
@define-color focused	#224e7d;
@define-color focused_border	#46719f;
@define-color inactive	#272822;
@define-color inactive_border	#1d1e19;
@define-color unfocused	#1d1e19;
@define-color unfocused_border	#272822;

@define-color fg	#fdfff1;
@define-color fg2	#6a7066;
@define-color bg	#161613;
@define-color bg2	#272822;

#waybar {
	background: @bg;
	color: @fg;
	font-family: Iosevka Extended;
	font-size: 16px;
	padding: 0px;
}

/* Workspaces stuff */
#workspaces {
/*	margin-right: 4px; */
}

#workspaces button {
	/*font-weight: bold;*/
	padding-left: 6px;
	padding-right: 6px;
	color: @fg2;
	background: @unfocused;
	border: 1px solid @unfocused_border;
	box-shadow: none;
	text-shadow: none;
}


#workspaces button:hover {
	/*font-weight: bold;*/
	color: @fg2;
	background: @unfocused;
	border: 1px solid @unfocused_border;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @fg2;
	background: @inactive;
	border: 1px solid @inactive_border;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @fg;
	background: @focused;
	border: 1px solid @focused_border;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @fg;
	background: @warning;
	border: 1px solid @warning_border;
}

#mode {
	background: @warning;
	border: 1px solid @warning_border;
	color: @fg;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#window {
	padding-left: 5px;
}

/* Right modules */
#tray {
  margin-right: 2px;
  opacity: 0.75;
}
#custom-separator4 {
	color: @blue;

}
#network {
	background: @blue;
	color: @bg;
}
#custom-separator3 {
	background: @blue;
	color: @green;
}

#battery {
	background: @green;
	color: @bg;
}

#custom-separator2 {
	background: @green;
	color: @orange;
}

#language {
	background: @orange;
	color: @bg;
}

#custom-separator1 {
	background: @orange;
	color: @bg2;
}

#clock {
	color: @fg;
	background: @bg2;
	padding-right: 6px;
}

#custom-separator0 {
	background: @inactive;
	color: @red;
}

#custom-power {
	color: @bg;
	background: @red;
	padding-right: 0px;
}

/* Menu Style */
menu {
	padding: 1px;
	background: #1a1a1a;
}

menuitem {
	font-size: 16px;
	padding: 4px;
	background: @inactive_border;
	border: 1px solid @inactive_border;
}

menuitem:hover {
	color: @fg2;
	background: @focused;
	border: 1px solid @focused_border;
	color: @fg;
}

/* Use Siji icons */
#network,
#battery,
#language,
#clock,
#custom-power {
	font-family: Iosevka Extended, Siji;
}

/* Align separators */
#custom-separator4,
#custom-separator3,
#custom-separator2,
#custom-separator1,
#custom-separator0 {
	font-size: 18px;
}

/* Some tweaks */
#custom-power {
	font-size: 18px;
}
#custom-separator0 {
	font-size: 21.2px;
}
